#photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  padding: 50px;
  box-shadow: 5px 4px 13px #b3b3b3, -5px -5px 13px #b3b3b3;
	border-radius: 5px;
}

#buttons{
  display: flex; 
  justify-content: center;
  padding: 2px 20px 20px 20px;
}

#prev, #next{
  padding: 10px 30px 10px 30px;
  margin: 30px;
  background-color: rgb(233, 216, 195);
  outline:0;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#prev:hover, #next:hover{
  box-shadow: 5px 4px 13px #b3b3b3, -5px -5px 13px #b3b3b3;
  cursor: pointer;
  outline:0;
}

body{
  background-color: lightgray;
  
}